[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.26"
requests = "~=2.27"
django-bootstrap3 = "~=21.2"
django-reversion = "~=4.0.2"
djangorestframework = "~=3.11.2"
gunicorn = "~=19.10"
markdown = "~=3.1.1"

[dev-packages]
flake8 = "~=4.0"
autopep8 = "~=1.6"
