[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.13"
requests = "~=2.27"
django-bootstrap3 = "~=21.2"
django-reversion = "~=4.0.2"
djangorestframework = "~=3.13.0"
gunicorn = "~=19.10"
markdown = "~=3.3.6"

[dev-packages]
flake8 = "~=4.0"
autopep8 = "~=1.6"
flake8-import-order = "~=0.18"
pep8-naming = "~=0.13"
