[Unit]
Description=Gunicorn daemon for ETIP
After=network.target

[Service]
User=etip
WorkingDirectory=/home/etip/etip/etip/
ExecStart=/home/etip/etip/venv/bin/gunicorn --env DJANGO_SETTINGS_MODULE=etip.settings.production --workers 1 --timeout 240 --bind 0.0.0.0:8899 etip.wsgi
StandardOutput=journal
StandardError=inherit

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65536
[Install]
WantedBy=multi-user.target
